[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/zora-721-contracts"]
	path = lib/zora-721-contracts
	url = https://github.com/ourzora/zora-721-contracts
[submodule "lib/zora-1155-contracts"]
	path = lib/zora-1155-contracts
	url = https://github.com/ourzora/zora-1155-contracts
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
